header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

header > h1 {
  margin: 5px 0px;
}

.list {
  display: flex;
  max-width: 70%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.collaborator {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
}

.collaborator > img {
  margin-bottom: 10px;
  border-radius: 15%;
}